.close {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../static/images/discard.svg);
}
.close:hover {
  opacity: 0.5;
}
